<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Derrick Adjie{% endblock %}</title>
    <!-- Loads the path to your static files-->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="test/css" href=" {% static 'aboutMe/styles.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body>
<header><div class="icon"></div> </header>
<nav class="navbar navbar-default">
    <div class="container_fluid">

        <!-- Header-->
        <div class=" navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="{% url 'aboutMe:index' %}">&nbsp;About Me</a></li>
                <li><a class="nav-link" href="{% url 'aboutMe:resume' %}">&nbsp;Resume</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

<footer class="footer">
    <p>&copy; 2015 - <a href="#">Derrick Adjie</a></p>
</footer>
</body>
</html>