{% extends 'aboutMe/base.html' %}


{% block body %} <!-- extends to the index page-->
<!-- <script type="text/paperscript" canvas="london-canvas" src="/js/animations.js"></script> -->

    <section class="jumbotron">
        <div class="image"></div>
        <div class="large-title-block">
            <h1><span class="large-title-block__start xxlarge">Hi,</span>
                <span class="large-title-block__middle xxlarge"> I'm </span>
                <span class="large-title-block__end xxlarge">Derrick Adjie.</span>
            </h1>

            <p class="home__subtitle">I'm a Web Developer based in London.</p>
        </div>

    </section>

    <div class="text-container">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    I enjoy developing and designing websites, but I’m also passionate about all aspect of software
                    development and technology. I code in Python, HTML, CSS and Javascript. I’ve also worked with PHP
                    and Java. I’m proficient with Django and understand the MVC methodology. I really just enjoy
                    learning and working with some of the best current web frameworks such as bootstrap, SASS and LESS.
                    I believe I am a problem solver and enjoy having new challenges, puzzles to solve and being able to
                    think Logically during each stage of development.

                </p>
            </div>
        </div>
    </div>

{% endblock %}


<!--
variables go in the double squiggly lines.
python code goes in the squiggly braces and percent sign
-->
