{% extends 'aboutMe/base.html' %}


{% block body %} <!-- extends to the index page-->
<!-- <script type="text/paperscript" canvas="london-canvas" src="/js/animations.js"></script> -->

<section class="jumbotron">
<div class="image"></div>
    <div class="large-title-block"><h1><span class="large-title-block__start xxlarge">Hi,</span>
    <span class="large-title-block__middle xxlarge"> I'm </span>
    <span class="large-title-block__end xxlarge">Derrick AJ.</span>
</h1><p class="large"></p>
   <!-- <canvas id="london-canvas" width="1000" height="200"></canvas> -->
    <p class="home__subtitle">I'm a Front-end Web Developer based in London.</p></div>

</section>

 <div class="text-container">
 <div class="row">
     <div class="col-sm-6">
<p>
For the mean time i just need to add some text here so i can see how it will look when i actually start
to style this bad ass Mo'fucker!
</p>
         </div>
          <div class="col-sm-6">
<p>
For the mean time i just need to add some text here so i can see how it will look when i actually start
to style this bad ass Mo'fucker!
</p>
         </div>
       </div>
    </div>

{% endblock %}


<!--
variables go in the double squiggly lines.
python code goes in the squiggly braces and percent sign
-->
