{% extends 'aboutMe/base.html' %}


<title>{% block title %} Resume {% endblock %}</title>


{% block body %}

    <h1 class="name">Derrick Adjie</h1>

    <div class="text-container2">
        <div class="row">
            <div class="col-sm-6">
                <p>
                <h3>Profile</h3>Detailed-orientated IT analyst and software developer, with the capabilities of
                being a fantastic asset to any business. I am looking for the opportunity to join a fantastic
                company as well as a strong team to continue developing and become a vital member. I have a fantastic
                business acumen and good programming skills.  I believe I have the competence and tenacity to grow as a
                person to help any organisation achieve their goal.<br/>

                <h3>Key Skills</h3>
                <p class="col-sm-6">
                    Django Framework   <br/>
                    Python, JavaScript & jQuery <br/>
                    HTML5 & CSS3<br/>
                    GitHub version control<br/>
                    Bootstrap & various web frameworks <br/>
                    Relational Databases & MySql <br/>
                </p>
                <p class="col-sm-6">
                    1st Line & 2nd Line support   <br/>
                    Software testing & Data Migration <br/>
                    Business use case development<br/>
                    Active Directory <br/>
                    Windows SQL Server 2008&2012 <br/>
                    Project Management <br/>
                </p>

                <p>
                <h3>Education</h3>
                <b><h4>De Montfort University, Leicester | BSc Computer Science | 2nd Class Honours</h4></b><br/>
                •	Researched, planned and designed a Fantasy Football Gaming Website.<br/>
                •	Managed deadlines and liaised with project leader/co-ordinator.<br/>
                •	Developed analytical and research skills, as well as understanding software methodologies.<br/>
                •	Enhanced my knowledge of various programming languages such as PHP, JAVA and C++.<br/>
                </p>



                </p>
            </div>
            <div class="col-sm-6">
                <h3>Work Experience</h3>
                <p>
                    London Borough of Camden                 2015-present<br/>

                    <b>Junior Business IT Analyst (IT Entrant)</b><br/>
                    •	Designed, implemented and supported full Online Training course for the business social care application Frameworki.
                    This allowed the business to increase funds, by reducing the amount used for classroom training.<br/>
                    •	Created and Implemented JavaScript code to allow for data to migrate to a new server.<br/>
                    •	Analysing current and designing new business processes using business models such as flowcharts and use case diagrams.<br/>
                    •	Apart of the team involved in full testing of multiple applications. This involved Test Strategy, Testing Plan, Test Cases,
                    Test Data and Test Environment. Without thorough testing, multiple applications would be unable to go live.<br/>
                    •	Master Data Management. Creating SQL scripts allowing the business to improve data analysis.<br/>
                    •	Using Business Objects to creating comprehensive reports, providing data to the business whilst making key decisions.<br/>
                    •	1st and 2nd line application support.<br/>
                </p>

                <p>
                    Freelancing                                2015-present<br/>

                    <b>Software Development</b><br/>
                    •	Created and designed a personal website using Django web framework. Source code has been published on GitHub.<br/>
                    •	Confident with Using the Django framework. Created small projects using Django<br/>
                    •	Confident using Python, HTML5, CSS3, JavaScript & jQuery as well as various other programming languages. Also comfortable working within the Linux environment.<br/>
                    •	Version control using Git and the GitHub repository.<br/>
                </p>
            </div>
        </div>
    </div>




{% endblock %}